.user-center-banner
{
    background: url(../images/02_md_bg_02.png) no-repeat center;
    background-size: cover;
}
.user-center-list
{
    li
    {
        a
        {
            line-height: 40px;
        }
    }
}
