---
title: 首页
slug: index
---
<div class="panel panel-info border-none">
    <div class="panel-heading">
        <strong>所有页面列表</strong>
    </div>
    <div class="panel-body no-padding">
        <div class="list-group no-margin">
            {% for node in site.html_pages %} {% if node.slug != "index" %}
            <div class="list-group-item">
                <div class="row-content">
                    <a href=".{{ node.url }}" style="display: block;width:100%;">
                        <i class="mdi-hardware-keyboard-alt" style="padding-right:5px;"></i>
                        <p class="list-group-item-text" style="display:inline-block;">{{ node.title }}</p>
                    </a>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>
