<div class="hh-md-details grey lighten-4">

    <div class="md-name hh-padding-10 red accent-2 white-text text-center hh-font-size-20">
        <b>鱼洞门市部鱼洞门市部鱼洞门市部</b>
    </div>

    <!-- 门店详情 开始 -->
    <div class="sawtooth-back white-text hh-font-size-12">
        <div class="head-pic">
            <img src="asserts/images/hh-pic.jpg" alt="">
        </div>
        <ul class="info-text">
            <li>地址：重庆市巴南区鱼洞下河路31-4#</li>
            <li>传真：023-66232066 </li>
            <li>营业时间： 星期一～五 09:00~18:00、星期六～日 10:00~17:00</li>
        </ul>
        <div class="btn-group btn-group-justified text-center hh-btn">
            <div class="btn">
                <a href="javascript:void(0)" class="white red-text text-accent-2">
                    <i class="mdi-action-settings-phone hh-font-size-16 icon"></i><b> 023-6623206666</b>
                </a>
            </div>
            <div class="btn">
                <a href="javascript:void(0)" class="white red-text text-accent-2">
                    <i class="mdi-action-account-balance hh-font-size-16 icon"></i><b> 进入微店铺</b>
                </a>
            </div>
        </div>
    </div>
    <!-- 门店详情 结束 -->

    <!-- 搜索 开始 -->
    <div class="hh-md-search clearfix">
    	<div class="search clearfix">
    		<div class="pull-left hh-font-size-18 hh-text">从</div>
    		<div class="back white">
	    		<input class="pull-left white" placeholder="输入您想去的目的地..." type="text">
				<button class="hh-font-size-18 btn red accent-2 white-text pull-right">到这里</button>
			</div>
    	</div>
    	<div class="hh-radio clearfix">
    		<label class="pull-left"><input class="pull-left" type="radio"><span>驾车</span></label>
    		<label class="pull-left"><input class="pull-left" type="radio"><span>步行</span></label>
    		<label class="pull-left"><input class="pull-left" type="radio"><span>坐公交（目前仅支持市内查询）</span></label>
    	</div>
    </div>
    <!-- 搜索 结束 -->

    <!-- 地图 开始 -->
    <div class="hh-map hh-padding-10">
    	<div id="map">
        </div>
    </div>
    <!-- 地图 结束 -->
</div>
