<aside id="left-sidebar-nav">
    <div id="slide-out" class="z-depth-1 leftside-navigation">
        <div class="clearfix toggle-wrapper">
            <button id="toggleNav" class="btn-floating waves-effect waves-light red right"><i class="material-icons">lock_open</i></button>
        </div>
        <ul id="main-menu">
            {% for item in site.data.left_side_nav %}
                <li class="{% if item.has_sub %} {{ 'has-sub' }} {% endif %}  {% if forloop.first %} {{ 'active' }} {% endif %}">
                    <a href="#" class="waves-effect waves-light">
                        <div class="gui-icon">
                            <i class="material-icons">{{ item.icon }}</i>
                        </div> 
                        <span class="nav-text">{{ item.name }}</span>
                    </a>
                    {% if item.has_sub %}
                    <ul class="sub-menu">
                    {% for sub in item.sub_menu %}
                        <li>
                            <a href="{{ sub.url }}">
                                <span class="nav-text">{{ sub.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</aside>
