<form class="card search-form">
    <div class="card-content">
        <span class="card-title cyan-text">查询条件</span>
        <div class="row">	
			{% assign items = site.data.search_form %}

			{% for item in items %}
			   {% assign controls = item.controls %}
			   {% assign index = forloop.index %}

				<div class="input-field col s6 m4 l3 {% if controls.size > 1 %} {{ 'col-span' }} {% endif %}">
				    {% for control in controls %}
						{% case control.controls_type %}
							{% when 'input' %}
	        					<input  id="{{ control.controls_type }}{{ index }}" type="{{ control.type }}" placeholder="{{ control.placeholder }}" class="{% if controls.size > 1  %} {% if forloop.first %} {{'left'}} {% else %} {{'right'}} {% endif %} {% endif %} ">
							{% when 'select' %}
								<select name="" multiple class="{% if controls.size > 1  %} {% if forloop.first %} {{'left'}} {% else %} {{'right'}} {% endif %} {% endif %} ">
								    <option value="" disabled selected>请选择</option>
									<option value="1">Option 1</option>
								      <option value="2">Option 2</option>
								      <option value="3">Option 3</option>
								</select>
						{% endcase %}
					{% endfor %}
					<label for="{{ control.controls_type }}{{ forloop.index }}">{{ item.text }}</label>
				</div>
			{% endfor %}
        </div>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light btn red accent-2" href="#">查询</a>
        <a class="waves-effect waves-light btn orange darken-2" href="#">重置</a>
    </div>
</form>