.hh-home-destination{
	padding:0 4px;
	margin-bottom:5px;
	.col-xs-3{
		padding:0;
		overflow:hidden;
		line-height: 38px;
		a{
			height: 38px;
			padding:0 5px;
			margin:4px;
			display:block;
			border:solid 1px #ded9cc;
			overflow:hidden;
		}
	}
}