/* btn */

.btn-xs-hh {
    font-size: 14px;
    margin: 0 1px;
    padding: 5px 10px;
}


/* my-carousel */

.my-carousel {
    padding: 0 30px;
}
.my-carousel .image img { height:auto;}
/* */
.nopadding {
    padding: 0;
}

.padding-lr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.back-grey {
    background: #eee;
}

.underline {
    text-decoration: underline;
}
