.card.table-form {
    overflow: inherit;
    .card-action {
        a.btn,
        a.btn:hover {
            color: #fff;
        }
        .pagination li {
            a {
                color: #444;
                margin-right: 0;
                
            }
            
            &.active a{
                color: #fff;
            }
        }
    }
}
