.top-nav {
    padding: 10px 15px;
    a{
    	i{
    		font-size: 24px;
    	}
    }
    &.has-bg {
        background: url(../images/top_nav_bg.png);
        background-size: cover;
        background-position: center;
        color: #fff;
        a {
            color: #fff;
        }
    }
}
