<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
</head>

<body>
    {% include loader_wrapper.html %}
    <!-- Docs master nav -->
    {% include header.html %}
    <!-- Page content of course! -->
    <div id="main">
        <div class="wrapper">
            {% include left_side_nav.html %}
            <section id="content">
                <div class="container">
                    
                    <div id="breadcrumbs-wrapper" class=" grey lighten-3">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Calendar</h5>
                <ol class="breadcrumb">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="#">Pages</a>
                  </li>
                  <li class="active">Calendar</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

                    {{ content }}
                </div>
            </section>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
